<!DOCTYPE html> 
<html lang="en">
  <head>
    <meta name="description" content="K&M Nails & Beauty in Aberdeen offers manicure, pedicure, shellac, acryclic and gel extensions" />
    <meta name="keywords" content="nails,beauty,manicure,pedicure,shellac,acrylic,gel,extensions,aberdeen,scotland">
    <meta name="author" content="sfyfe.com">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>K&M Nails & Beauty</title>
    <style>{{styles}}</style>
  </head>
  <body>
    <div id="container">
      <header></header>
      <main>
        <p>To see our price list, please select "Book Now"!</p>
        <a class="button" href="/book" target="_blank" rel="noopener noreferrer">Book Now</a>
        <div id="instagram"></div>
        <div id="social-media">
          <a aria-label="Facebook" href="https://www.facebook.com/Nailsbykm1" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook-square"></i></a>
          <a aria-label="Instagram" href="https://www.instagram.com/nailsbykm1/" target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram"></i></a>
        </div>
        <div id="map"></div>
        <p id="address">39 Huntly Street<br />Aberdeen, AB10 1TJ</p>
        <a
          class="button"
          id="directions"
          href="http://maps.google.com?daddr=39+Huntly+Street+Aberdeen+AB10+1TJ"
          target="_blank" rel="noopener noreferrer"
        >Directions</a>
      </main>
    </div>
    <script>{{javascript}}</script>
  </body>
</html>
