body {
  background: url(background.jpg);
  background-size: cover;
  background-position: center center;
  color: #000;
  font-size: 16px;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #000;
  text-decoration: none;
}

#container {
  width: 30rem;
  margin: 0 auto;
  overflow: hidden;
}

header {
  background-image: url(logo.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 auto 2rem;
  width: 80%;

  &::before {
    content: "";
    margin-bottom: 100%;
    display: inline-block;
  }
}

#instagram {
  width: 100%;
  overflow: hidden;
  margin-bottom: 2rem;

  a {
    width: 25%;
    float: left;
    position: relative;
    opacity: 1;
    transition: all 0.3s;
    overflow: hidden;

    &::before {
      content: "";
      display: inline-block;
      margin-bottom: 100%;
    }
    
    div {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      transition: all 0.3s;
    }
    
    &:hover {
      opacity: 0.6;
      
      div {
        width: 120%;
        height: 120%;
      }
    }
  }
}

.button {
  font-size: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  background: #000;
  margin-bottom: 2rem;
  display: inline-block;
  color: #fff;
  transition: all 0.3s;
  
  &:hover {
    background-color: #999;
    color: #fff;
  }
}

#map {
  width: 100%;
  margin-bottom: 2rem;

  &::before {
    content: "";
    margin-bottom: 60%;
    display: inline-block;
  }
}

p {
  font-size: 2rem;
}

#social-media {
  width: 100%;
  clear: both;
  text-align: center;
  display: inline-block;
  font-size: 4rem;
  margin-bottom: 2rem;

  a {
    margin-right: 1rem;
    display: inline-block;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 40rem) {
  #container {
    width: 100%;
  }
  
  #instagram a {
    width: 33.33%;
  }
}
